<div class="w-100 p-10px max-w-275px">
  <div class="d-flex flex-row flex-center">
    <img class="h-60px" src="/assets/icons/supernovas.svg" alt="supernovas logo" />
    <h3 class="font-weight-bold fs-16px text-align-start">The genesis block of a new creator economy</h3>
  </div>
  <p class="mt-10px fs-14px color-light-right-bar">
    Supernovas is the decentralized social NFT marketplace built for creators and collectors.
  </p>
  <p class="mt-10px fs-14px color-light-right-bar">Enter and discover the birthplace of creation itself.</p>
  <div class="d-flex flex-row mt-10px">
    <i class="fas fa-check-circle fa-md align-middle text-primary d-flex flex-center"></i>
    <label class="fs-13px ml-10px mt-10px font-weight-semiboldn">
      Buy and sell DeSo NFT’s with nearly zero gas fees
    </label>
  </div>
  <div class="d-flex flex-row">
    <i class="fas fa-check-circle fa-md align-middle text-primary d-flex flex-center"></i>
    <label class="fs-13px ml-10px mt-10px font-weight-semiboldn">
      Invest in verified creators through Creator Coins
    </label>
  </div>
  <div class="d-flex flex-row">
    <i class="fas fa-check-circle fa-md align-middle text-primary d-flex flex-center"></i>
    <label class="fs-13px ml-10px mt-10px font-weight-semiboldn">
      Connect with others through Supernovas social features
    </label>
  </div>
  <div class="mt-15px w-100 d-flex justify-content-between">
    <button (click)="signUp()" class="black-rounded-button w-47_5 font-weight-bold fs-12px h-40px">
      Create a profile
    </button>
    <button (click)="login()" class="white-rounded-button w-45 font-weight-bold fs-12px h-40px">Log in</button>
  </div>
</div>
