// Light Theme
// By:
.light[app-theme] {
    --background: #FEFEFE;
    //fff
    --text: #333333;
    --grey: #555555;
    --secondary: #f8f8f8;
    --secalt: #eee;
    --textalt: #777;
    --norm: #222;
    --formbg: #FFFFFF;
    --link: #000;
    --hover: #000;
    --border: #E5E5E5;
    --mborder: #E5E5E5;
    --filter: ;
    --unread: #e7effe;
    --topbar: #2e2e2e;
    --cblue: #0058F7;
    --cred: #fe3537;
    --pink: #ff3496;
    --cgreen: #19B028;
    --button: #000;
    --loading: #777777;
}