<div class="page-create-nft">
  <div class="popup-header">
    <h1>Create your NFT</h1>
  </div>
  <div class="popup-body">
    <h6 class="font-weight-bold">Add a link to arweave for your picture</h6>
    <h6>You can only mint NFT's that are stored on Arweave.</h6>
    <h6>
      Learn more on how to use Arweave
      <a href="">here</a>
    </h6>
    <input matInput placeholder="Enter here..." />

    <h6 class="font-weight-bold">Description</h6>
    <h6>Write caption or a title for your NFT.</h6>
    <textarea matInput placeholder="Description..."></textarea>
  </div>
  <div class="popup-footer">
    <button class="btn btn-post">Post</button>
    <h6>
      Once you have created your NFT, you can mint and put it up for sale it by clicking the upper right corner of the
      post!
    </h6>
  </div>
</div>
