<!--
  DESKTOP
  -->
<app-page-small-nav>
  <div class="d-flex mt-20px messages_container" *ngIf="!globalVars.isMobile()">
    <messages-inbox
      class="messages-inbox__desktop-column"
      (selectedThreadEmitter)="selectedThread = $event"
      [messageThreads]="globalVars.messageResponse ? globalVars.messageResponse.OrderedContactsWithMessages : null"
    ></messages-inbox>
    <messages-thread-view
      class="messages-thread__desktop-column"
      [messageThread]="
        globalVars.messageResponse
          ? selectedThread
            ? selectedThread
            : globalVars.messageResponse.OrderedContactsWithMessages[0]
          : null
      "
    ></messages-thread-view>
  </div>

  <!--
  MOBILE
  -->
  <div
    [ngClass]="!showThreadView ? 'messages_container_mobile_with_bottom' : 'messages_container_mobile'"
    *ngIf="globalVars.isMobile()"
  >
    <left-bar-mobile></left-bar-mobile>

    <div class="d-flex flex-column flex-grow-1 vh-100 max-w-100vw">
      <!-- Thread View Header -->
      <div
        *ngIf="showThreadView"
        class="messages-top-bar-height d-flex align-items-center fs-18px font-weight-bold pl-15px border-bottom border-color-grey"
      >
        <div class="cursor-pointer color-grey7 mr-15px">
          <a class="link--unstyled" style="text-align: center" (click)="navigateToInbox()" queryParamsHandling="merge">
            <img src="/assets/icons/arrow-left.svg" />
          </a>
        </div>
        <div class="mobile-messages-thread-name-avatar">
          <div
            class="messages-thread__avatar mr-15px"
            [avatar]="selectedThread.PublicKeyBase58Check"
            [ngClass]="{ 'cursor-auto': !selectedThread.ProfileEntryResponse }"
            [routerLink]="
              selectedThread.ProfileEntryResponse ? AppRoutingModule.profilePath(selectedThreadDisplayName) : []
            "
            queryParamsHandling="merge"
          ></div>
          <a
            class="link--unstyled"
            [routerLink]="
              selectedThread.ProfileEntryResponse ? AppRoutingModule.profilePath(selectedThreadDisplayName) : []
            "
            queryParamsHandling="merge"
          >
            {{ selectedThreadDisplayName }}
          </a>
          <span *ngIf="selectedThread.ProfileEntryResponse?.IsVerified" class="ml-1 text-primary">
            <i class="fas fa-check-circle fa-md align-middle"></i>
          </span>
        </div>
      </div>

      <!-- Scrollable Content -->
      <div class="messages-mobile-scrollable-section">
        <messages-inbox
          *ngIf="!showThreadView"
          class="global__mobile-scrollable-section"
          (selectedThreadEmitter)="_handleMessageThreadSelectedMobile($event)"
          [isMobile]="true"
          [messageThreads]="globalVars.messageResponse ? globalVars.messageResponse.OrderedContactsWithMessages : null"
        ></messages-inbox>
        <messages-thread-view
          *ngIf="showThreadView"
          class="messages-thread__desktop-column"
          [isMobile]="true"
          [messageThread]="
            globalVars.messageResponse
              ? selectedThread
                ? selectedThread
                : globalVars.messageResponse.OrderedContactsWithMessages[0]
              : null
          "
        ></messages-thread-view>
      </div>
    </div>
  </div>
</app-page-small-nav>
