@import "../../assets/popup-ui.scss";

.page-place-a-bid{
    text-align: center;
    width: 430px;
    margin: auto;
    max-width: 100%;
    .text-red{
        color: var(--cred);
        margin-top: 30px;
        line-height: 1.6;
    }
    .text-light{
        color: var(--grey) !important;
    }
}