<div class="page-place-a-bid">
  <div class="popup-header">
    <h1>Place a bid</h1>
  </div>
  <div class="popup-body">
    <h5>You must bid at least</h5>
    <h5 class="font-weight-bold">1.5 DESO</h5>
    <br />
    <div class="input-with-button">
      <input matInput placeholder="Enter here..." />
      <button class="btn btn-black">$DESO</button>
    </div>

    <h6 class="text-light">$2,300.86</h6>

    <br />
  </div>
  <div class="popup-footer">
    <button class="btn btn-post">Place a Bid</button>
    <h6 class="text-red">Your bid of 0.00039282 does not meet the minimum bid requirement of 1.5 DESO ($101.40)</h6>
  </div>
</div>
