.image-size-active-bids-accordion {
    height: 100px !important;
    overflow: hidden;
}
.activity-frame-container-bids {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: a;
}
.mw-activity {
    max-width: 915px;
}
.owned-nft {
    background-color: var(--secondary);
    height: 100px;
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
}
.active-bids-bid-info-accordion {
    grid-area: b;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.received-bids-avatar {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.p-a-top {
    position: absolute;
    top: 5px;
}
.p-a-top-0 {
    position: absolute;
    top: 0px;
}
.p-a-bottom {
    position: absolute;
    bottom: 10px;
}
.active-bids-bid-status {
    grid-area: c;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bids-highest-bid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.active-bids-right-container {
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.active-bids-buttons {
    grid-area: d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.bids-accordion-container {
    border: 1.3215686082839966px solid #c8c8c8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.07);
    overflow: hidden;
}
.activity-box-bids {
    background-color: var(--background);
    border: none;
    min-height: 150px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a b c d";
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.br-top-13px {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.br-13px {
    border-radius: 13px;
}
.grid-area-d {
    grid-area: d;
}
.grid-area-c {
    grid-area: c;
}
.grid-area-a {
    grid-area: a;
}
.grid-area-b {
    grid-area: b;
}
.bids-dropdown-icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
.bids-received-bid {
    border: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #e7e7e7;
    min-height: 120px;
    width: 100%;
    background-color: #F8F8F8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "a a b c";
}
.max-width-225px {
    max-width: 225px;
}
@media (min-width: 551px) and (max-width: 1300px) {
    .activity-box-bids {
        min-height: 300px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "a b"
            "c d";
    }
    .bids-received-bid {
        min-height: 240px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "a a"
        "b c";
    }
    .bids-dropdown-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0px;
    }
    .bids-highest-bid {
        align-items: center;
    }
    .active-bids-bid-info-accordion { 
        align-items: center;
    }
    .active-bids-buttons {
        justify-content: flex-start;
        align-items: center;
    }
    .active-bids-bid-status {
        justify-content: flex-start;
        align-items: center;
    }
    .image-size-active-bids-accordion {
        height: 140px !important;
        width: 140px !important;
    }
}
@media (max-width: 550px) {
    .activity-box-bids {
        min-height: 300px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "a b"
            "c d";
    }
    .bids-received-bid {
        min-height: 240px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "a a"
        "b c";
    }
    .active-bids-button-pab {
        margin-top: 10px;
    }
    .bids-dropdown-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0px;
    }
    .bids-highest-bid {
        align-items: center;
    }
    .active-bids-bid-info-accordion { 
        align-items: center;
    }
    .active-bids-bid-status {
        margin-top: 10px;
    }
}
.active-bids-button-pab {
    width: 200px !important;
    width: 100%;
    background: #000000;
    color: var(--background);
    border: 3px solid #000000;
    border-radius: 5.55222225189209px;
    box-shadow: 2.22088885307312px 2.22088885307312px 5.55222225189209px rgba(0, 0, 0, 0.25);
}
.active-bids-button-cb {
    width: 200px !important;
    width: 100%;
    height: 20%;
    font-size: 13px;
    background: transparent;
    border-radius: 5.55222225189209px;
    border: none;
}
.bids-dropdown-icon {
    height: 15px;
    transition: all 0.2s linear;
}
.h-40px {
    height: 40px;
}
.bids-dropdown-icon.open {
    transition: all 0.2s linear;
    transform: rotate(180deg);
}
.active-bids-button-vnft {
    width: 200px !important;
    width: 100%;
    text-align: center;
    background: transparent;
    border: 3px solid #000000;
    border-radius: 5.55222225189209px;
}
.bids-received-accordion {
    height: 0px;
    min-height: 0px;
    overflow: hidden;
    transition: all .3s ease;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}
.bids-received-accordion.open {
    min-height: 240px;
    overflow: auto;
}
.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}