.feed-cover {
    width: 718px;
    max-width: 100%;
}
.w-275px {
    width: 275px;
}
.not-loggedIn-right-box {
    background: #ffffff;
    border: 0.9521816372871399px solid #fbfbfb;
    border-radius: 14.282723426818848px;
    box-shadow: 1px 1.5199999809265137px 7.619999885559082px rgba(0, 0, 0, 0.11);
}
.mt-47_5px {
    margin-top: 47.5px;
}