<script src="../../environments/environment.prod.ts"></script>
<!-- Wrapper -->
<div class="wrapper">
  <!-- Header -->
  <header>
    <div class="lg_container">
      <!-- Branding -->
      <a href="#" class="branding">supernovas</a>
      <!-- Branding End -->
      <!-- Right -->
      <div class="header_right">
        <a class="lg_btn white btn-effect" (click)="globalVars.launchSignupFlow()">Sign up</a>
        <a class="lg_btn black btn-effect" (click)="globalVars.launchLoginFlow()">Login</a>
      </div>
      <!-- Right End -->
    </div>
  </header>
  <!-- Header -->
  <!-- Banner -->
  <div class="lg_container">
    <div class="banner_section">
      <div class="lt">
        <h1>The genesis block of a new creator economy</h1>
        <p>
          Supernovas is a decentralized social NFT marketplace built for creators and collectors. Enter and discover the
          birthplace of creation itself.
        </p>
        <div class="btn_grp">
          <a class="lg_btn white btn-effect" (click)="globalVars.launchSignupFlow()">Sign up</a>
          <a class="lg_btn black btn-effect" (click)="globalVars.launchLoginFlow()">Login</a>
        </div>
      </div>
      <div class="rt">
        <figure><img src="assets/img/shapse.svg" alt="" /></figure>
      </div>
    </div>
  </div>
  <!-- Banner End -->

  <!--  creators and collectors -->
  <div class="lg_container">
    <div class="creators_collectors">
      <h2>The intersection of crypto, community, and creativity</h2>
      <div class="bxs">
        <h3>Buy and sell NFT’s</h3>
        <p>Mint NFT’s with nearly zero fees. Explore individually verified and curated NFT creators.</p>
      </div>
      <div class="bxs">
        <h3>Invest in verified artists</h3>
        <p>
          Everyone has their own creator coin that anyone can invest in. Proceeds from NFT sales flow to both creators
          and coin-holders.
        </p>
      </div>
      <div class="bxs">
        <h3>Get social</h3>
        <p>
          Follow and connect with your favorite creators and collectors. Post and interact on Supernovas feed and be
          discovered.
        </p>
      </div>
    </div>
  </div>
  <!--  creators and collectors End  -->
  <!-- Footer -->
  <footer>
    <div class="lg_container">
      <div class="ft_lg">
        <span>supernovas</span>
        <span>supernovas</span>
        <span>supernovas</span>
        <span>supernovas</span>
        <span>supernovas</span>
        <span>supernovas</span>
        <span>supernovas</span>
      </div>
      <div class="footer_rt">
        <ul>
          <li>SOCIAL</li>
          <li><a href="https://bitclout.com/u/supernovas" target="_blank">BitClout</a></li>
          <li><a href="https://discord.gg/UwaAz2nnQk" target="_blank">Discord</a></li>
        </ul>
        <ul>
          <li>RESOURCES</li>
          <li><a href="https://www.blog.supernovas.app/" target="_blank">Blog</a></li>
          <li><a href="https://intercom.help/supernovas/en" target="_blank">Support</a></li>
        </ul>
        <ul>
          <li>LEGAL</li>
          <li>
            <a
              href="https://docs.google.com/document/d/13NCH0Y9PHfByDaKtHea-Q9Irb9TzgPzNrszLgcKAE3I/edit?usp=sharing"
              target="_blank"
            >
              Terms of Service
            </a>
          </li>
          <li>
            <a
              href="https://docs.google.com/document/d/1__1YE4kZtJ0eO1lDEFS0J1okdiNXkQ1DbKAvy63H-pI/edit?usp=sharing"
              target="_blank"
            >
              Privacy Policy
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- Footer End -->
</div>
