<div>
  <div
    class="left-bar-mobile__flyout-div-marketplace"
    [@leftBarAnimation]
    *ngIf="globalVars.isMarketplaceLeftBarMobileOpen"
  >
    <div class="w-100 h-100 position-relative d-flex flex-center align-items-start">
      <app-marketplace-left-bar></app-marketplace-left-bar>
      <div *ngIf="globalVars.isMarketplaceLeftBarMobileOpen" (click)="_closeMenu()" class="nav_close_marketplace">
        <img src="assets/img/close_square.svg" alt="" />
      </div>
    </div>
  </div>
  <div
    *ngIf="globalVars.isMarketplaceLeftBarMobileOpen"
    [@translucentBackgroundAnimation]
    (click)="_closeMenu()"
    class="left-bar-mobile__translucent-background"
  ></div>
</div>
