.page-trends{
    padding-top: 10px;
    @media screen and (max-width: 500px){
        padding: 10px;
    }
}
.marketplace-card-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px -10px 0px;
    padding: 0px;
    list-style-type: none;
    li{
        padding: 10px;
        width: calc(100% / 3);
        min-width: 300px;
        @media screen and (max-width: 500px){
            width: 100%;   
        }
    }
}
  
.card {
    width: 90%;
    padding: 1rem;
    margin: 1.5% auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(195, 209, 216, 0.5);
    
    @media (min-width: 768px) {
      margin: 1.5%;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
  }
  
.d-flex-center {
    display: flex;
    align-items: center;

    .flex-1 {
        flex: 1;
        margin-inline-start: 1rem;
    }
}
