.card {
    width: 90% !important;
    padding: 1rem;
    margin: 1.5% auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(195, 209, 216, 0.5);
    
    @media (min-width: 768px) {
      margin: 1.5%;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
  }
  
.d-flex-center {
    display: flex;
    align-items: center;

    .flex-1 {
        flex: 1;
        margin-inline-start: 1rem;
    }
}
